/*Cofig Page*/
legend {
    width: auto;    
    margin-left: 20px;
    padding-left: 5px;
    font-size: 17px;
}

fieldset {
    border: 1px solid;
    padding: 1px;
    text-align: left; 
}


.info-valores > p{
    display: inline-block;
}

.div-update > p > input{
    width: 45%;    
    border: 1px solid;
}

.form-div{
    font-size: 15px;    
     margin: 28px auto;
}
.form-div > .div-update > p{
    width: 40%;
}

.div-valores-dia-mensal > .display-block > p {
    width: 130px;
}

.div-valores-dia-mensal > .display-block > input {
    width:  20%;
}

.div-valores-dia-mensal > div > div > button{
    margin-left: 10px;
}


.form-cad-func{
    font-size: 15px;    
     margin: 28px auto;
}

.input-name-func{
    width: 84%;
}

.width-label-1{
    width: 100px;
    text-align: right;
}
.width-label-2{
    width: 133px;
    text-align: right;
}
.width-input-1{
    width: 29.5%;    
     float: right;
}
.width-input-2{
    width: 31%;
}
select.width-select {
    border: 1px solid;
    text-align: center;
    height: 25px;
    width: 29%;
    text-align-last: right;
    padding-right: 9%;
}
.button-cadastro-func{
    margin-left: 16%;
}