    /*Cofig Page*/

/* Atualização de valores */
legend {
    width: auto;    
    margin-left: 20px;
    padding-left: 5px;
    font-size: 1.2em;
}

fieldset {
    border: 1px solid;
    padding: 1px;
    text-align: left; 
}

.info-valores{
    padding: 0 4%;
}

.info-valores > p{
    display: inline-block;
}

.div-update > p > input{
    width: 45%;    
    border: 1px solid;
}

.form-div{   
     margin: 28px auto;
}
.form-div > .div-update > p{
    width: 40%;
}

.div-valores-dia-mensal > .display-block > p {
    width: 130px;
}

.div-valores-dia-mensal > .display-block > input {
    width:  20%;
}

.div-valores-dia-mensal > div > div > button{
    margin-left: 10px;
}

/* Cadastro de funcionarios */
.form-cad-func{
    font-size: 15px;    
     margin: 10px auto;
}

.input-name-func{
    width: 84%;
}

.width-label-1{
    width: 100px;
    text-align: right;
}
.width-label-2{
    width: 133px;
    text-align: right;
}
/*
.width-label-3{    
    text-align: right;
    width: 69.5%;
}
*/
.width-label-3{    
    text-align: right;
    width: 8%;
}
.width-label-4{    
    text-align: right;
    width: 26.5%;
}

.width-input-1{
    width: 29.5%;    
    float: none;
}
.width-input-2{
    width: 31%;
}
.width-input-3{
    width: 28%;
}

select.width-select {
    border: 1px solid;
    text-align: center;
    height: 25px;
    width: 29%;
    text-align-last: right;
    padding-right: 9%;
}
.button-cadastro-func{
    margin-left: 16%;
}


/* Tabelas */
.table td, .table thead th{
    vertical-align: middle;
}

.arrow{
    width: 14px;
    height: 10px;
}